main {
    .main {
        .page-title {
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            padding-block: 6rem;
            text-align: center;
            
            h1 {
                font-size: 4rem;
            }

            h1,
            p {
                color: #fff;
            }
        }

        .page-content {
            padding-inline: 1.5rem;

            section {
                &.sec-1 {
                    display: flex;
                    height: unset;
                    justify-content: center;
                    padding-block: 5rem;
                    
                    .sec-inner {
                        padding-inline: 1rem;
                        width: 90rem;
                        
                        .about-wrapper {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-evenly;
                            padding-block: 4rem;

                            & + p {
                                text-align: center;
                            }

                            .about {
                                flex-basis: 37rem;
                                margin-block: 2rem;

                                &:first-of-type {
                                    p {
                                        &:nth-of-type(2) {
                                            &::before {
                                                content: "\0026";
                                                color: rgba(245, 248, 249, 0.8);
                                                font-family: Playfair Display, serif;
                                                font-size: 9.375rem;
                                                position: absolute;
                                                transform: translate(16rem, -6rem);
                                                z-index: -1;
                                            }
                                        }

                                        &:not(&:first-of-type) {
                                            color: lighten($color: $color-1, $amount: 30);
                                            font-style: italic;
                                            font-weight: bold;
                                        }

                                        &:last-child {
                                            margin-top: 1rem;
                                            transform: translateX(6rem);
                                        }
                                    }
                                }
                            }
                        }

                        h1 {
                            font-size: 2rem;
                            text-align: center;
                        }
                    }
                }

                &.sec-2 {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; 
                    padding-block: unset;
                    padding-inline: unset !important;
            
                    div {
                        background: rgba(0, 0, 0, .4);
                        padding: 8rem 1.5rem; 
                        width: 100%;
                    }
                    
                    h1 { 
                        font-size: 2rem;
                    }
                    
                    h1, 
                    p {
                        color: #fff;
                        text-align: center;
                    }
                    
                    p {
                        font-size: 1.3rem;
                    } 
                }
            }

            .digital-signage {
                display: flex;
                justify-content: center;
                padding-inline: 1rem;

                div {
                    h1 {
                        color: #2362cf;
                        font-size: 2rem;
                        text-align: center;
                    }
    
                    ul {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        max-width: 40rem;
    
                        li {
                            margin: 0.5rem;
    
                            img {
                                margin-right: 1rem;
                                transform: translateY(0.4rem);
                                width: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.About {
    padding-inline: unset !important; 
}