main {
    .main {
        .page-title {
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            padding-block: 6rem;
            text-align: center;
            
            h1 {
                font-size: 4rem;
            }

            h1,
            p {
                color: #fff;
            }
        }
    }
}