$color-1: #0d244c;
$color-2: lighten($color-1, 70%);
$color-3: #ff5353;
$color-4: #f8f5ef;

$headings: 1, 2, 3, 4;
 
@each $heading in $headings {
    h#{$heading},
    .products-title span {
        font-family: 'Roboto', sans-serif;
    }
  }

* {
    color: $color-1;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    word-wrap: break-word;
}

@mixin product {
    margin: .5rem;
    width: 16rem;

    div {
        align-items: center;
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 2rem .5rem; 
        display: flex;
        justify-content: center;
        height: 15rem;
        width: 100%;
    }

    h1 {
        color: $color-3;
        font-size: 2rem;
        margin-top: 1rem;
    }

    p {
        padding-block: .4rem;
    }

    span {
        color: #aaa;
        text-transform: uppercase;
    }
}

@mixin svg {
    cursor: pointer;
    fill: $color-1;
    height: 1.2rem;
    transition: .5s;
    width: 1rem; 

    &:hover {
        fill: $color-2;
    }
}
