footer {
    background: #333;
    display: flex;
    justify-content: center;
    padding-block: 2rem;

    & + p {
        background: #333;
        color: #eee;
        display: flex;
        justify-content: center;
        margin: auto;
        padding-block: 1.5rem;
        text-align: center;
        width: 85vw;
    }
    
    .footer {
        background: #333;
        display: flex;
        flex-wrap: wrap; 
        width: 85vw;
        
        .footer-inner {
            margin-inline: 1rem;
            
            &:first-of-type {
                max-width: 30rem;
            }
            
            &:last-of-type {
                p {
                    padding-bottom: 2rem;
                }
            }

            button {
                @include button();
            }
            
            h1 {
                color: #eee;
                font-size: 1.5rem;
                padding-block: 1.5rem;
            }

            .icons {
                padding-block: 1rem;
                
                ul {
                    display: flex;

                    li {
                        margin-inline: 0.5rem;

                        svg {
                            @include svg();
                            fill: #fff;
                        }
                    }
                }
            }

            input {
                border: unset;
                margin-right: .5rem;
                outline: none;
                padding: .3rem;
            }

            p {
                color: #ccc;
            }

            ul {
                li {
                    a {
                        color: #ccc;

                        &:hover {
                            color: lighten($color: $color-1, $amount: 40);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    footer { 
        .footer, & + p {
            width: unset;
        }
    }
}