header {
    background: #fff;
    display: flex;
    justify-content: center;
    padding: .5rem;
    position: sticky;
    top: 0;
    z-index: 1000;

    .header {
        width: 85rem;

        nav {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding-block: 1rem;

            div { 
                &:last-of-type {
                    position: relative;
    
                    .cart-items-total {
                        background: #fff; 
                        border-radius: 50%;
                        color: red;
                        font-weight: bold;
                        font-style: italic;
                        height: 1.5rem;
                        padding: 0.2rem;
                        position: absolute;
                        right: -.3rem;
                        top: -1.5rem; 

                        p {
                            transform: translate(0.193rem, -0.4rem);
                        }
                    }
                }

                h1 {
                    img { 
                        cursor: pointer;
                        width: 3rem;
                    }
                }

                svg {
                    @include svg();
                    height: 4rem;
                    width: 4rem;
                }

                &:first-child { 
                    h1 {
                        font-size: 2rem; 
                    }

                    h2 {                       
                        img {
                            width: 7rem;
                        }
                    }
                }

                &:last-child {
                    svg {
                        height: 1.65rem;
                        width: 2rem;
                    }
                }

                ul {
                    display: flex;

                    li {
                        letter-spacing: .13rem;
                        padding-inline: 1rem;

                        a {
                            &:hover {
                                color: lighten($color: $color-1, $amount: 30);
                            }
                        }
                    }
                }
            }
        }
    }

}

.header-top {
    align-items: center;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    padding: .5rem; 
    width: 85rem;    

    div {

        &:last-child {
            ul {
                display: flex;

                li {
                    margin-inline: .5rem;

                    svg {
                        @include svg(); 
                    }
                }
            }
        }

        p {
            padding-right: 2rem;
        }
    }

    &-wrapper {
        display: flex;
        justify-content: center;
    }
}

.nav-sm-screen {
    animation-duration: 1s;
    animation-name: FadeIn;
    background: #333;
    display: none;
    height: 100vh; 
    position: fixed; 
    top: 0;
    width: 100vw;
    z-index: 1100;
    
    div {
        .header {
            background: #fff;
            display: flex;
            justify-content: space-between;
            padding: 1rem;

            p {
                background: $color-1; 
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                font-weight: bold;
                padding-inline: 0.6rem;
                padding-top: 2px;
                transform: translateX(-2rem);
                transition: .5s;             
                
                &:hover {
                    background: unset;
                    color: $color-3;
                }
            }
        }   
    }

    .inner {
        display: flex; 
        justify-content: right;
        padding-inline: 1.5rem;
        
        .inner-items {
            padding-block: 3rem;
            transform: translateX(-2rem);
            
            div {
                ul {
                    li {
                        text-align: right; 
                        
                        a {
                            color: #fff;
                            font-size: 1.5rem;
                                                
                            &:hover {
                                color: $color-2;
                            }
                        }
                    }
                }
            }
        }
    }

    .nav-footer { 
        bottom: 0;  
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        transform: translateY(-2rem);

        div {
            display: flex;
            flex-basis: 5rem;
            justify-content: space-evenly;

            &:last-of-type {
                flex-basis: 8rem;
            }

            p {
                color: #fff;
            }

            ul {
                display: flex;
                justify-content: space-evenly;
                transform: translateX(-2rem);
                width: 100%;

                li {

                    svg {
                        @include svg();
                        fill: #fff;
                    }
                }
            }
        }
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.toggle {
    display: block;
}

@media (max-width: 830px) {
    header {
        .header {
            nav {
                &:first-of-type {
                    display: none;
                } 
            }
        }
    }
}

@media (min-width: 830px) {
    .nav-sm-screen {
        display: none;
    }
}

@media (min-width: 830px) {
    header {
        .header {
            nav {
                &:last-of-type {
                    display: none;
                } 
            }
        }
    }
}

@media (max-width: 262px) {
    header {
        .header {
            nav {
                div {
                    h1 {
                        &:last-of-type {
                            display: none;
                        } 
                    }
                }
            }
        }
    }
}