@import 'config';
@import 'header';

.active-page {
    border-bottom: 2px solid tomato;
}

.page-content-padding-inline-unset { 
    padding-inline: unset !important; 
}

.products { 
    display: flex;
    justify-content: center;
    margin-block: 2rem; 

    .products-inner {
        display: flex;
        overflow: scroll; 
        padding-bottom: 2rem;
        width: 75rem;
    
        .product {
            @include product();
        }
    }

    &-title {
        border-bottom: 4px solid $color-4;
        font-size: 1.5rem;
        padding-top: 2rem;  

        span {
            background: #fff; 
            font-size: 2rem;  
            text-align: center;
        }

        &-wrapper {
            display: flex;
            justify-content: center;
            padding-block: 2rem;
        }
    }
}

section {
    &:not(&.sec-1, &.sec-2, &.sec-3) {
        margin-block: 4rem;
        padding-inline: 1rem;
    }

    &.network-engineering,
    &.our-solutions,
    &.smart-home-automation {
        @include list();
    } 

    &.smart-home-automation { 
        div {
            ul {
                max-width: 42rem;
            }
        }
    }

    &.sec-1 { 
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        height: 90vh; 

        .sec-1-inner {
            align-items: center;
            background: rgba(0, 0, 0, .4);
            display: flex;
            height: 90vh;
            justify-content: center;
            padding-inline: 1rem; 

            div { 
                padding-inline: 1rem;
                text-align: center;
                transform: translateY(-4rem);
                width: 75rem;

                button {
                    @include button();
                }

                h1,
                h2, 
                span {
                    color: #fff; 
                }

                h1 {
                    font-size: clamp(5vh, 12rem, 18vw); 
                }

                h2 {
                    color: #ddd;
                    font-size: 2.5rem;
                    letter-spacing: .02rem;
                }

                span {
                    color: #ddd;
                    display: block; 
                    text-align: right;
                }
            }
        }

        &-plus {
            display: flex;
            justify-content: center;

            .sec-1-plus-inner {
                
                & > h1 {
                    margin-block: 1rem;
                }

                h1,
                h2 {
                    text-align: center;
                }

                h1 {                    
                    color: lighten($color: $color-1, $amount: 30);
                    font-family: unset;
                    font-size: 1.2rem;
                }

                h2 { 
                    font-size: 2rem;
                }

                .sec-inner {
                    padding-block: 4rem;

                    .services-wrapper {
                        display: flex; 
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        max-width: 99rem;


                        .services { 
                            display: flex;
                            flex-basis: 25rem;
                            margin-block: 3rem;

                            div {
                                &:first-of-type {
                                    margin-right: 1rem;
                                }

                                h1 {
                                    font-size: 1.2rem;
                                    text-align: left;
                                }

                                img {
                                    width: 3rem;
                                }

                                p {
                                    color: #333;
                                    margin-top: 1rem;
                                }
                            }
                        }
                    }
                } 
            }
        }
    }

    &.sec-2 {
        align-items: center;
        background: $color-4;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-block: 4rem;

        .sec-2-inner {            
            &:not(&:first-of-type) {
                @include product();
                border-bottom: 1px solid #aaa;
                margin-block: 2rem;
                text-align: center;
            }

            &:first-of-type {
                margin: 2rem;
                width: 30rem;
            }

            div[style] {
                div {
                    background: rgba(0, 0, 0, .3);
                    
                    h2 {
                        background: rgba(0, 0, 0, 0.5);
                        color: #ddd;
                        padding: .55rem;
                        font-size: 2rem;
                        width: 100%;
                    }
                }
            }

            h1 {
                font-size: 2.5rem;
            }

            p { 
                &:first-of-type {
                    padding-block: 2rem !important;
                }                 
            }
        }
    }

    &.sec-3 {
        align-items: center;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        display: flex; 
        justify-content: center;
        padding-inline: unset !important;
        
        div {
            background: rgba(0, 0, 0, .3);
            padding: 10rem 1rem;
            text-align: center;
            width: 100%;
            
            button {
                background: $color-1; 
                border: 2px solid $color-1;
                color: #fff;
                cursor: pointer;
                transform: translateX(-.3rem);
            }
            
            h1 {
                color: #fff;
                font-size: 2rem;
            }

            input,
            button {
                margin-block: .5rem;
                outline: none;
                padding: 1rem;
                width: 30rem;
            }
            
            p {
                color: #fff;
                font-size: 1.2rem;
                padding-block: 2rem;
            }
        }
    }

    &.sec-4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-block: 4rem;

        div {
            flex-basis: 30rem;
            margin-block: 3rem;
            text-align: center;

            center {
                img {
                    width: 5rem;
                }
            }

            p {
                padding-block: 1rem;
            }

            span {
                color: darken($color-4, 40);
            }
        }
    }

    &.sec-5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-block: 5rem;

        img {
            margin: 1rem;
        }
    }

    &.sec-6 {
        background: linear-gradient(to right, lighten($color-1, 50), lighten($color-3, 20));
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-block: 6rem;

        form {
            text-align: center;
            width: 45rem;
            
            button {
                @include button();
                background: $color-1;
                border: 1px solid $color-1;
            }

            .feedback {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 4rem;
                
                img {
                    cursor: pointer;
                    margin: 1rem;
                    width: 5rem;
                }

                input {
                    // display: none;
                }
            }

            h1 {
                font-size: 2rem;
            } 

            p {
                font-size: 1.4rem;
            }
        }
    }

    &.section {
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        padding-block: 10rem;
        text-align: center;
        
        div {
            max-width: 74rem;
            
            button {
                @include button();
            }

            button,
            p {
                color: #fff;
            }

            p {
                font-size: clamp(4vh, 5rem, 14vw);
            }
        }
    }

    &.about { 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-block: 7rem;

        div {
            flex-basis: 40rem;

            h1 {
                color: lighten($color: $color-1, $amount: 30);
                font-size: 1.3rem;
            }

            h2 {
                font-family: unset;
                font-size: 4rem;
                margin-bottom: 1rem;
            }

            &:last-child {
                p,
                strong {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    main { 

        .main {
             
        }
    }
}
 
@media (max-width: 675px) {
    section {
        &.sec-1-plus {
            .sec-1-plus-inner {
                .sec-inner {
                    .services-wrapper {
                        justify-content: unset;

                        .services {
                            flex-basis: unset;
                            margin-block: 2rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 596px) {
    section {
        &.sec-2 { 
            padding-inline: 1rem;
            text-align: center;
        }
    }
}

@media (max-width: 557px) { 
    .products {  
        .products-inner { 
            .product {
                width: 10rem;

                .sale {
                    transform: translate(5.45rem, 2.19rem);
                }

                div {
                    width: 10rem;
                }
            }
        } 
    } 
}

@media (max-width: 500px) {
    section {
        &.sec-3 { 
            div {   
                input,
                button { 
                    width: 80vw;
                } 
            }
        }
    }
}

@media (max-width: 349px) {
    section {
        &.sec-1 {
            .sec-1-inner {
                padding-inline: unset; 
            }
        }
    }
}

@media (max-width: 262px) {
    section {
        &.sec-1 {
            .sec-1-inner { 
                div {
                    h2 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@import 'about';
@import 'contact';
@import 'solutions';
@import 'footer';