h1,
.products-title span {
  font-family: "Roboto", sans-serif;
}

h2,
.products-title span {
  font-family: "Roboto", sans-serif;
}

h3,
.products-title span {
  font-family: "Roboto", sans-serif;
}

h4,
.products-title span {
  font-family: "Roboto", sans-serif;
}

* {
  color: #0d244c;
  font-family: "Poppins", sans-serif;
  font-size: small;
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  word-wrap: break-word;
}

header {
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .header {
  width: 85rem;
}
header .header nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
}
header .header nav div h1 img {
  cursor: pointer;
  width: 3rem;
}
header .header nav div svg {
  cursor: pointer;
  fill: #0d244c;
  height: 1.2rem;
  transition: 0.5s;
  width: 1rem;
  height: 4rem;
  width: 4rem;
}
header .header nav div svg:hover {
  fill: #c8d9f6;
}
header .header nav div:first-child h1 {
  font-size: 2rem;
}
header .header nav div:first-child h2 img {
  width: 7rem;
}
header .header nav div:last-child svg {
  height: 2rem;
  width: 2rem;
}
header .header nav div ul {
  display: flex;
}
header .header nav div ul li {
  letter-spacing: 0.13rem;
  padding-inline: 1rem;
}
header .header nav div ul li a:hover {
  color: #2362cf;
}

.header-top {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  width: 85rem;
}
.header-top div:last-child ul {
  display: flex;
}
.header-top div:last-child ul li {
  margin-inline: 0.5rem;
}
.header-top div:last-child ul li svg {
  cursor: pointer;
  fill: #0d244c;
  height: 1.2rem;
  transition: 0.5s;
  width: 1rem;
}
.header-top div:last-child ul li svg:hover {
  fill: #c8d9f6;
}
.header-top div p {
  padding-right: 2rem;
}
.header-top-wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 830px) {
  header .header nav:first-of-type {
    display: none;
  }
}
@media (min-width: 830px) {
  header .header nav:last-of-type {
    display: none;
  }
}
@media (max-width: 262px) {
  header .header nav div h1:last-of-type {
    display: none;
  }
}
.active-page {
  border-bottom: 2px solid tomato;
}

.products {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
}
.products .products-inner {
  display: flex;
  overflow: scroll;
  padding-bottom: 2rem;
  width: 95vw;
}
.products .products-inner .product {
  margin: 0.5rem;
  width: 16rem;
}
.products .products-inner .product div {
  align-items: center;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  height: 15rem;
  width: 15rem;
}
.products .products-inner .product h1 {
  color: #ff5353;
  font-size: 2rem;
  margin-top: 1rem;
}
.products .products-inner .product p {
  padding-block: 0.4rem;
}
.products .products-inner .product span {
  color: #aaa;
  text-transform: uppercase;
}
.products .products-inner .product .sale {
  background: #ff5353;
  border-radius: 0.3rem;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding: 0.2rem 1rem;
  transform: translate(10.03rem, 2.19rem);
  width: max-content;
}
.products-title {
  border-bottom: 4px solid #f8f5ef;
  font-size: 1.5rem;
  padding-top: 2rem;
}
.products-title span {
  background: #fff;
  font-size: 2rem;
  text-align: center;
}
.products-title-wrapper {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
}

section:not(section.sec-1, section.sec-2, section.sec-3, section.sec-4) {
  margin-block: 4rem;
  padding-inline: 1rem;
}
section.sec-1 {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 90vh;
}
section.sec-1 .sec-1-inner {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 90vh;
  justify-content: center;
  padding-inline: 1rem;
}
section.sec-1 .sec-1-inner div {
  padding-inline: 1rem;
  text-align: center;
  transform: translateY(-4rem);
  width: 75rem;
}
section.sec-1 .sec-1-inner div button {
  background: unset;
  border: 1px solid #fff;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: 0.5s;
}
section.sec-1 .sec-1-inner div button:hover {
  background: #fff;
  border: 1px solid #fff;
  color: unset;
}
section.sec-1 .sec-1-inner div h1,
section.sec-1 .sec-1-inner div h2,
section.sec-1 .sec-1-inner div span {
  color: #fff;
}
section.sec-1 .sec-1-inner div h1 {
  font-size: clamp(5vh, 12rem, 18vw);
}
section.sec-1 .sec-1-inner div h2 {
  color: #ddd;
  font-size: 2.5rem;
  letter-spacing: 0.02rem;
}
section.sec-1 .sec-1-inner div span {
  color: #ddd;
  display: block;
  text-align: right;
}
section.sec-1-plus {
  display: flex;
  justify-content: center;
}
section.sec-1-plus .sec-1-plus-inner > h1 {
  margin-block: 1rem;
}
section.sec-1-plus .sec-1-plus-inner h1,
section.sec-1-plus .sec-1-plus-inner h2 {
  text-align: center;
}
section.sec-1-plus .sec-1-plus-inner h1 {
  font-family: unset;
}
section.sec-1-plus .sec-1-plus-inner h2 {
  font-size: 2rem;
}
section.sec-1-plus .sec-1-plus-inner .sec-inner {
  padding-block: 4rem;
}
section.sec-1-plus .sec-1-plus-inner .sec-inner .services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 99rem;
}
section.sec-1-plus .sec-1-plus-inner .sec-inner .services-wrapper .services {
  display: flex;
  flex-basis: 25rem;
  margin-block: 3rem;
}
section.sec-1-plus .sec-1-plus-inner .sec-inner .services-wrapper .services div:first-of-type {
  margin-right: 1rem;
}
section.sec-1-plus .sec-1-plus-inner .sec-inner .services-wrapper .services div h1 {
  font-size: 1.2rem;
  text-align: left;
}
section.sec-1-plus .sec-1-plus-inner .sec-inner .services-wrapper .services div img {
  width: 3rem;
}
section.sec-1-plus .sec-1-plus-inner .sec-inner .services-wrapper .services div p {
  color: #333;
  margin-top: 1rem;
}
section.sec-2 {
  align-items: center;
  background: #f8f5ef;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-block: 4rem;
}
section.sec-2 .sec-2-inner:not(section.sec-2 .sec-2-inner:first-of-type) {
  margin: 0.5rem;
  width: 16rem;
  border-bottom: 1px solid #aaa;
  margin-block: 2rem;
  text-align: center;
}
section.sec-2 .sec-2-inner:not(section.sec-2 .sec-2-inner:first-of-type) div {
  align-items: center;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  height: 15rem;
  width: 15rem;
}
section.sec-2 .sec-2-inner:not(section.sec-2 .sec-2-inner:first-of-type) h1 {
  color: #ff5353;
  font-size: 2rem;
  margin-top: 1rem;
}
section.sec-2 .sec-2-inner:not(section.sec-2 .sec-2-inner:first-of-type) p {
  padding-block: 0.4rem;
}
section.sec-2 .sec-2-inner:not(section.sec-2 .sec-2-inner:first-of-type) span {
  color: #aaa;
  text-transform: uppercase;
}
section.sec-2 .sec-2-inner:not(section.sec-2 .sec-2-inner:first-of-type) .sale {
  background: #ff5353;
  border-radius: 0.3rem;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding: 0.2rem 1rem;
  transform: translate(10.03rem, 2.19rem);
  width: max-content;
}
section.sec-2 .sec-2-inner:first-of-type {
  margin: 2rem;
  width: 30rem;
}
section.sec-2 .sec-2-inner div[style] div {
  background: rgba(0, 0, 0, 0.3);
}
section.sec-2 .sec-2-inner div[style] div h2 {
  background: rgba(0, 0, 0, 0.5);
  color: #ddd;
  padding: 0.55rem;
  font-size: 2rem;
  width: 100%;
}
section.sec-2 .sec-2-inner h1 {
  font-size: 2.5rem;
}
section.sec-2 .sec-2-inner p:first-of-type {
  padding-block: 2rem !important;
}
section.sec-3 {
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-inline: unset !important;
}
section.sec-3 div {
  background: rgba(0, 0, 0, 0.3);
  padding: 10rem 1rem;
  text-align: center;
  width: 100%;
}
section.sec-3 div button {
  background: #0d244c;
  border: 2px solid #0d244c;
  color: #fff;
  cursor: pointer;
  transform: translateX(-0.3rem);
}
section.sec-3 div h1 {
  color: #fff;
  font-size: 2rem;
}
section.sec-3 div input,
section.sec-3 div button {
  margin-block: 0.5rem;
  outline: none;
  padding: 1rem;
  width: 30rem;
}
section.sec-3 div p {
  color: #fff;
  font-size: 1.2rem;
  padding-block: 2rem;
}
section.sec-4 {
  background: linear-gradient(to left, #f8f5ef, #f4f7fd);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-block: 4rem;
}
section.sec-4 div {
  flex-basis: 30rem;
  margin-block: 3rem;
  text-align: center;
}
section.sec-4 div center img {
  width: 5rem;
}
section.sec-4 div p {
  padding-block: 1rem;
}
section.sec-4 div span {
  color: #ba9c61;
}
section.section {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-block: 10rem;
  text-align: center;
}
section.section div {
  max-width: 74rem;
}
section.section div button {
  background: unset;
  border: 1px solid #fff;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: 0.5s;
}
section.section div button:hover {
  background: #fff;
  border: 1px solid #fff;
  color: unset;
}
section.section div button,
section.section div p {
  color: #fff;
}
section.section div p {
  font-size: clamp(4vh, 5rem, 14vw);
}

@media (min-width: 1400px) {
  main {
    display: flex;
    justify-content: center;
  }
  main .main {
    width: 85vw;
  }
}
@media (max-width: 675px) {
  section.sec-1-plus .sec-1-plus-inner .sec-inner .services-wrapper {
    justify-content: unset;
  }
  section.sec-1-plus .sec-1-plus-inner .sec-inner .services-wrapper .services {
    flex-basis: unset;
    margin-block: 2rem;
  }
}
@media (max-width: 596px) {
  section.sec-2 {
    padding-inline: 1rem;
    text-align: center;
  }
}
@media (max-width: 557px) {
  .products .products-inner .product {
    width: 10rem;
  }
  .products .products-inner .product .sale {
    transform: translate(5.45rem, 2.19rem);
  }
  .products .products-inner .product div {
    width: 10rem;
  }
}
@media (max-width: 500px) {
  section.sec-3 div input,
section.sec-3 div button {
    width: 80vw;
  }
}
@media (max-width: 349px) {
  section.sec-1 .sec-1-inner {
    padding-inline: unset;
  }
}
@media (max-width: 262px) {
  section.sec-1 .sec-1-inner div h2 {
    font-size: 2rem;
  }
}
main .main .page-title {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-block: 6rem;
  text-align: center;
}
main .main .page-title h1 {
  font-size: 4rem;
}
main .main .page-title h1,
main .main .page-title p {
  color: #fff;
}

footer {
  background: #333;
  display: flex;
  justify-content: center;
  padding-block: 2rem;
}
footer + p {
  background: #333;
  color: #eee;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-block: 1.5rem;
  text-align: center;
  width: 85vw;
}
footer .footer {
  background: #333;
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
}
footer .footer .footer-inner {
  margin-inline: 1rem;
}
footer .footer .footer-inner:first-of-type {
  max-width: 30rem;
}
footer .footer .footer-inner:last-of-type p {
  padding-bottom: 2rem;
}
footer .footer .footer-inner button {
  background: unset;
  border: 1px solid #fff;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: 0.5s;
}
footer .footer .footer-inner button:hover {
  background: #fff;
  border: 1px solid #fff;
  color: unset;
}
footer .footer .footer-inner h1 {
  color: #eee;
  font-size: 1.5rem;
  padding-block: 1.5rem;
}
footer .footer .footer-inner .icons {
  padding-block: 1rem;
}
footer .footer .footer-inner .icons ul {
  display: flex;
}
footer .footer .footer-inner .icons ul li {
  margin-inline: 0.5rem;
}
footer .footer .footer-inner .icons ul li svg {
  cursor: pointer;
  fill: #0d244c;
  height: 1.2rem;
  transition: 0.5s;
  width: 1rem;
  fill: #fff;
}
footer .footer .footer-inner .icons ul li svg:hover {
  fill: #c8d9f6;
}
footer .footer .footer-inner input {
  border: unset;
  margin-right: 0.5rem;
  outline: none;
  padding: 0.3rem;
}
footer .footer .footer-inner p {
  color: #ccc;
}
footer .footer .footer-inner ul li a {
  color: #ccc;
}
footer .footer .footer-inner ul li a:hover {
  color: #467edf;
}

@media (max-width: 1400px) {
  footer .footer, footer + p {
    width: unset;
  }
}

/*# sourceMappingURL=styles.css.map */
